body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/237/original/5177180.jpg?1642689877);
}
.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 12px;
  margin: 10px 0;
}
